<%- include("../includes/header") %>
<% if(user && user.isAdmin) {%>
<%- include("../includes/adminNavbar") %>
<% } else { %>
<%- include("../includes/shopNavbar") %>
<% } %>

<div class="container-fluid accountBox">

    <h5 class="accountTitle">PASSWORD SETTING</h5>
    <div class="settingsDisplay">
        <h6 class="infoItem">CURRENT PASSWORD <img class="icon" src="/static/image/icon/dots.svg" alt=""></h6>
        <input type="password" id="currentPwd" class="form-control infoText">
        <h6 class="infoItem">NEW PASSWORD <img class="icon" src="/static/image/icon/dots.svg" alt=""></h6>
        <input type="password" id="newPwd" class="form-control infoText">
    </div>
    <span class="alert alert-danger authAlertMessage"></span>
    <button class="savePasswordBtn btn btn-outline-secondary">SAVE</button>

</div>

<%- include("../includes/footer") %>
<script src="/static/js/account.js"></script>