<header class="navbar sticky-top bg-white py-3 mb-3 border-bottom">
    <div class="container-fluid align-items-center">
        <img class="navImg" src="/static/image/icon/list.svg" data-bs-toggle="offcanvas"
            data-bs-target="#adminOffcanvas" aria-controls="adminOffcanvas">

        <a class="navbar-brand" href="/admin">
            <img src="/static/image/brand.svg" alt="Lullabuy">
        </a>
        <div class="nav-item d-flex align-items-center">
            <div class="dropdown">
                <a href="#" class="link-dark text-decoration-none dropdown-toggle" id="dropdownUser"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="icon" src="/static/image/icon/account.svg" alt="">
                </a>

                <ul class="dropdown-menu text-small dropdown-menu-end" aria-labelledby="dropdownUser">

                    <a class="dropdown-item" href="/account/settings">Settings</a>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <a class="dropdown-item" href="/signout">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>


<!-- offcanvas -->
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="adminOffcanvas"
    aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">Category</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <!-- product -->
    <button class="offcanvasBtn" data-bs-toggle="collapse" href="#collapseProduct" role="button" aria-expanded="false"
        aria-controls="collapseProduct">
        Product</button>
    <div class="collapse border-bottom border-top" id="collapseProduct">
        <div class="offcanvasCollapse">
            <a class="offcanvasBtn" href="/admin/product/all">
                Overview</a>
        </div>
        <div class="offcanvasCollapse">
            <button class="offcanvasBtn" data-bs-toggle="collapse" href="#collapseWomen" role="button"
                aria-expanded="false" aria-controls="collapseWomen">
                Women</button>
            <div class="collapse" id="collapseWomen">
                <div class="offcanvasCollapse border-bottom border-top">
                    <a class="offcanvasCollapseBtn" href="/admin/product/women">All</a>
                    <a class="offcanvasCollapseBtn" href="/admin/product/women/robes">Robes</a>
                    <a class="offcanvasCollapseBtn" href="/admin/product/women/pajamas">Pajamas</a>
                    <a class="offcanvasCollapseBtn" href="/admin/product/women/others">Others</a>
                </div>
            </div>
        </div>
        <div class="offcanvasCollapse">
            <button class="offcanvasBtn" data-bs-toggle="collapse" href="#collapseMen" role="button"
                aria-expanded="false" aria-controls="collapseMen">
                Men</button>
            <div class="collapse" id="collapseMen">
                <div class="offcanvasCollapse border-bottom border-top">
                    <a class="offcanvasCollapseBtn" href="/admin/product/men">All</a>
                    <a class="offcanvasCollapseBtn" href="/admin/product/men/robes">Robes</a>
                    <a class="offcanvasCollapseBtn" href="/admin/product/men/pajamas">Pajamas</a>
                    <a class="offcanvasCollapseBtn" href="/admin/product/men/others">Others</a>
                </div>
            </div>
        </div>
    </div>
    <!-- order -->
    <button class="offcanvasBtn" data-bs-toggle="collapse" href="#collapseOrder" role="button" aria-expanded="false"
        aria-controls="collapseOrder">
        Order</button>
    <div class="collapse border-bottom border-top" id="collapseOrder">
        <div class="offcanvasCollapse">
            <a class="offcanvasBtn" href="/admin/order">
                Overview</a>
        </div>
    </div>
    <!-- user -->
    <button class="offcanvasBtn" data-bs-toggle="collapse" href="#collapseUser" role="button" aria-expanded="false"
        aria-controls="collapseUser">
        User</button>
    <div class="collapse border-bottom border-top" id="collapseUser">
        <div class="offcanvasCollapse">
            <a class="offcanvasBtn" href="/admin/user">
                Overview</a>
        </div>
    </div>
</div>