<%- include("../includes/header") %>
<%- include("../includes/shopNavbar") %>

<div class="container-fluid coverPageBox">
  <a href="/all" class="coverPageBtn btn btn-outline-light">SHOP NOW</a>
</div>

<%- include("../includes/footer") %>